{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Verificar Identidade</legend>
            <p class="mb-3">Para continuar, por favor, responda à sua pergunta de segurança:</p>
            <h5 class="mb-4 text-center" style="color: var(--secondary-color);">"{{ question }}"</h5>
            <div class="form-group">
                {{ form.answer.label(class="form-control-label") }}
                {{ form.answer(class="form-control form-control-lg", autocomplete="off") }}
            </div>
        </fieldset>
        <div class="form-group mt-4">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
